@{
    ViewData["Title"] = "Control Panel";
}

<h1 style="margin-top:15px">Control Panel</h1>
<hr />
<div class="mt-0">
    <div class="container-contact100 mt-0">
        <div class="wrap-contact100">

            <a class="ofProducts" asp-controller="Carousel" asp-action="Index">
                <div class="contact100-form-title HoverProducts" style="margin-top:30px;background-image:url('../../images/backgrounds/slide-3.jpg');border: 1px solid gray;border-radius: 20px;">
                    <span class="contact100-form-title-1">
                        ניהול קרוסלות
                    </span>
                </div>
            </a>


            <a class="ofProducts" asp-controller="Products" asp-action="Index">
                <div class="contact100-form-title HoverProducts" style="margin-top:30px;background-image:url('../../images/backgrounds/slide-3.jpg');border: 1px solid gray;border-radius: 20px;">
                    <span class="contact100-form-title-1">
                        ניהול מוצרים
                    </span>
                </div>
            </a>



            <a class="ofProducts" asp-controller="Category" asp-action="Index">
                <div class="contact100-form-title HoverProducts" style="margin-top:30px;background-image:url('../../images/backgrounds/slide-3.jpg');border: 1px solid gray;border-radius: 20px;">
                    <span class="contact100-form-title-1">
                        ניהול קטגוריות
                    </span>
                </div>
            </a>


            <a class="ofProducts" asp-controller="Messages" asp-action="Index">
                <div class="contact100-form-title HoverProducts" style="margin-top:30px;background-image:url('../../images/backgrounds/slide-3.jpg');border: 1px solid gray;border-radius: 20px;">
                    <span class="contact100-form-title-1">
                        ניהול הודעות
                    </span>
                </div>
            </a>



        </div>
    </div>
</div>
